{% extends "./base.html" %}

{% block head %}
<style>
    .card-header {
    color: #0738C1;
    font-family: 'Bebas Neue', sans-serif;
    }

    .btn-outline-primary {
        color: rgba(0, 0, 0, 0.8);
        border-color: rgba(0, 0, 0, 0.6);
    }

    .list-group-item:hover {
        text-decoration: none;
        color: white;
        background-color: #0738C1;
    }

</style>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">History</h4>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('my_records') }}" method="post">
                        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ session['csrf_token'] }}">
                        <div class="row mb-3">
                            <label for="exercise"><b>Exercise</b></label>
                            <input type="text" class="form-control" name="exercise" id="exercise" value="{{ session['my_records_exercise'] }}" placeholder="" autocomplete="off" required>
                            <div class="list-group" id="exercise_list"></div>
                        </div>
                        <div class="row mb-3">
                            <label for="n_reps"><b>Reps</b></label>
                            <input type="number" class="form-control" value="{{ session['my_records_reps'] }}" id="n_reps" name="n_reps" step="1" min="1" autocomplete="off"/>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" style="background-color: #0738C1; border: none;">Get History</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% if session['my_records_exercise'] %}
<div class="container mt-4">
    <div class="row justify-content-center">        
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">{{ session['my_records_exercise'] }}</h4>
                </div>
                <div class="card-body">
                    {% if records|length == 0 %}
                        <div class="alert alert-warning h-50" role="alert">
                            No records for that exercise and reps!
                        </div>
                    {% else %}
                        <form action="{{ url_for('delete_records') }}" method="POST">
                            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ session['csrf_token'] }}">                           
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Weight</th>
                                        <th>Reps</th>
                                        <th>Comments</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for record in records %}
                                    <tr>
                                        <td>{{ record.date }}</td>
                                        <td>{{ record.weight }}</td>
                                        <td>{{ record.reps }}</td>
                                        <td>{{ record.comment or '' }}</td>
                                        <td><input type="checkbox" name="recs_delete" value="{{ record.id }}" class="record-checkbox"></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-danger" id="deleteButton" style="display: none;">Delete Selected Records</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block js_scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const checkboxes = document.querySelectorAll('.record-checkbox');
    const deleteButton = document.getElementById('deleteButton');

    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            if (Array.from(checkboxes).some(checkbox => checkbox.checked)) {
                deleteButton.style.display = 'inline-block';
            } else {
                deleteButton.style.display = 'none';
            }
        });
    });
});

const root_url = location.protocol + '//' + location.host;
const csrf_token = document.getElementById('csrf_token').value;

async function fetchExercises() {
    try {
        const response = await fetch(root_url + '/get_records', {
            method: 'POST',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body: new URLSearchParams({
                'csrf_token': csrf_token,
            })
        });

        if (!response.ok) {
            const errorData = await response.json();
            throw new Error(`${response.status} ${response.statusText}: ${errorData.error}`);
        }

        const data = await response.json();
        return data;
    } catch (error) {
        console.error('Error fetching records:', error);
        throw error; // rethrow the error so the caller can handle it
    }
}

async function initialize() {
    try {
        const availableExercises = await fetchExercises();
        const exercise_input_box = document.getElementById('exercise');
        const exercise_list = document.getElementById("exercise_list");

        exercise_input_box.onkeyup = function () {
            let result = [];
            let input = exercise_input_box.value;

            if (input.length) {
                result = availableExercises.filter((keyword) => {
                    return keyword.toLowerCase().includes(input.toLowerCase());
                });

                exercise_list.innerHTML = display(result);
            } else {
                exercise_list.innerHTML = '';
            }
        };

        function display(result) {
            const content = result.map((option) => {
                return '<a class="list-group-item" onclick="selectInput(this)">' + option + '</a>';
            }).join('');
            return content;
        }

    } catch (error) {
        console.error('Error initializing:', error);
    }
}

function selectInput(option) {
    const exercise_input_box = document.getElementById('exercise');
    exercise_input_box.value = option.innerHTML;
    const exercise_list = document.getElementById("exercise_list");
    exercise_list.innerHTML = '';
}

document.addEventListener('DOMContentLoaded', (event) => {
    initialize();
});

</script>
{% endblock %}